/* Global Styles */
html,
body {
  height: 100%;
  width: 100%;
}
#the-end-parent {
  width: 100%;
  height: 1000px;
  display: table;
}
#the-end {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: capitalize;
  font-family: "Quicksand";
  font-size: 40px;
  color: #000000;
}
#projects-body .description {
  font-family: "Quicksand";
  font-size: 20px;
}
.services-intro {
  font-family: "Quicksand";
  font-size: 20px;
}
a {
  color: #e9190a;
  text-decoration: none;
}
a:hover {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
a.link-noeffect {
  color: #fff;
}
a.link-noeffect:hover {
  font-weight: normal;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#sidebar-wrapper.affix-top {
  position: static;
  margin-top: 30px;
  width: 228px;
}
#sidebar-wrapper.affix {
  position: fixed;
  top: 70px;
  width: 228px;
}
.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}
/* Side Menu */
#sidebar-wrapper {
  margin-left: -250px;
  left: 0;
  width: 250px;
  background: #201311;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}
.sidebar-nav li a {
  color: #ffffff;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav li i {
  margin-left: -20px;
}
.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #ffffff;
  background: none;
}
#menu-toggle {
  margin-left: 5px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}
#sidebar-wrapper.active {
  left: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.toggle {
  margin: 5px 5px 0 0;
}
/* Full Page Image Header Area */
.copyright {
  color: #b3cf4f;
}
@media (min-width: 600px) {
  .header {
    display: table;
    height: 60%;
    width: 100%;
    position: relative;
    background: url(../img/bg6.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .header h1 {
    color: #ffffff;
    font-family: "Raleway", Verdana, serif;
    font-size-adjust: 0.40;
    font-weight: 700;
    font-style: normal;
  }
}
@media (max-width: 600px) {
  .header {
    display: table;
    height: 60%;
    width: 100%;
    position: relative;
    background: url(../img/bg6_mobile.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .header h1 {
    color: #ffffff;
    font-family: "Raleway", Verdana, serif;
    font-size-adjust: 0.40;
    font-weight: 700;
    font-style: normal;
  }
}
.location {
  background-color: #d6231f;
}
.location .location-header {
  color: #000000;
}
.location p.location-intro {
  font-family: "Quicksand";
  font-size: 20px;
}
.location p,
.location h1 {
  color: #ffffff;
}
.about {
  background-color: #ffffff;
}
.about .about-header {
  color: #d6231f;
}
.about p.about-intro {
  font-family: "Quicksand";
  font-size: 20px;
}
.about p,
.about h1 {
  color: #000000;
}
#geo-location {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/location2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.follow-scroll {
  position: relative;
}
.affix {
  position: fixed !important;
  top: 10px;
}
.affix-top,
.affix-bottom {
  position: relative;
}
/* Intro */
.intro {
  padding-top: 25px;
  padding-bottom: 100px;
  background-color: #ffffff;
}
.intro h1 {
  font-family: "Quicksand", Verdana, serif;
  margin-top: -13px;
  font-size: 63px;
  color: #b3cf4f;
}
.intro p {
  font-family: "Quicksand";
}
h1,
h2,
h3,
h4 {
  font-family: "Quicksand", Verdana, serif;
}
p {
  font-family: "Merriweather";
}
.profile-picture {
  width: 125px;
  max-width: 125px;
  padding: 5px;
}
.logo {
  width: 125px;
  max-width: 125px;
  padding-bottom: 15px;
}
.dark {
  color: #201311;
}
.intro .lead {
  margin-top: 0px;
}
/* Services */
.services {
  background: #b3cf4f;
  padding: 50px 0;
  color: #ffffff;
}
.services p.services-intro {
  font-family: "Quicksand";
  font-size: 20px;
}
.services #services-header {
  color: #000000;
}
.service-item {
  margin-bottom: 15px;
}
i.service-icon-small {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 20px;
  width: 30px;
  height: 30px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
}
i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
}
i.service-icon:hover {
  font-size: 68px;
}
.icon-white {
  color: #ffffff;
}
.icon-black {
  color: #000000;
}
i.close-menu-icon {
  font-size: 36px;
}
/* Callout */
/* Projects */
.projects {
  background-color: #ffffff;
  padding: 25px 0;
}
.spacer-150px {
  padding-bottom: 150px;
}
.spacer {
  padding-bottom: 140px;
}
.projects-row {
  padding-bottom: 150px;
}
.projects-item {
  margin-bottom: 25px;
}
.img-projects {
  margin: 0 auto;
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}
/* Call to Action */
.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}
.call-to-action .btn {
  margin: 10px;
}
/* Footer */
footer {
  background-color: #201311;
  padding: 100px 0;
}
footer p {
  color: #ffffff;
  font-family: "Quicksand";
}
.text-justify {
  text-align: justify;
}
